---
# Default Kibana configuration from kibana-docker.

server.name: {{ getenv "DASHBOARDS_SERVER_NAME" "kibana" }}
server.host: "{{ getenv "DASHBOARDS_SERVER_HOST" "0.0.0.0" }}"

opensearch.hosts: [{{ getenv "DASHBOARDS_OPENSEARCH_HOSTS" "https://opensearch:9200" }}]
opensearch.ssl.verificationMode: none
opensearch.username: {{ getenv "KIBANASERVER_USER" "kibanaserver" }}
opensearch.password: {{ getenv "KIBANASERVER_PASSWORD" "kibanaserver" }}
opensearch.requestHeadersWhitelist: [authorization, securitytenant]

{{- if getenv "DISABLE_MULTITENANCY" }}
opensearch_security.multitenancy.enabled: false
opensearch_security.multitenancy.tenants.enable_global: true
opensearch_security.multitenancy.tenants.enable_private: false
opensearch_security.multitenancy.tenants.preferred: [Global]
{{- else }}
opensearch_security.multitenancy.enabled: true
opensearch_security.multitenancy.tenants.preferred: [Global]
{{- end }}

opensearch_security.readonly_mode.roles: [kibana_read_only, anonymous_users_role]

# Use this setting if you are running opensearch-dashboards without https
opensearch_security.cookie.secure: false

{{- if getenv "ENABLE_ANONYMOUS_AUTH" }}
opensearch_security.auth.anonymous_auth_enabled: true
{{- end -}}

{{ define "OIDC" -}}
opensearch_security.openid.connect_url: "{{ getenv "OIDC_CONNECT_URL" }}"
opensearch_security.openid.client_id: "{{ getenv "OIDC_CLIENT_ID" }}"
opensearch_security.openid.client_secret: "{{ getenv "OIDC_CLIENT_SECRET" }}"
opensearch_security.openid.base_redirect_url: "{{ getenv "DASHBOARDS_ENDPOINT_URL" }}"
{{- end -}}

{{ define "SAML" -}}
server.xsrf.allowlist: ["/_opendistro/_security/saml/acs/idpinitiated", "/_opendistro/_security/saml/acs", "/_opendistro/_security/saml/logout"]
{{- end -}}

{{- if getenv "AUTH_TYPE_OIDC" }}
opensearch_security.auth.type: "openid"
{{ template "OIDC" }}
{{- end -}}

{{- if getenv "AUTH_TYPE_SAML" }}
opensearch_security.auth.type: "saml"
{{ template "SAML" }}
{{- end }}

{{- if getenv "AUTH_TYPE_OIDC_AND_SAML" }}
{{ template "OIDC" }}
{{ template "SAML" }}
opensearch_security.auth.type: ["openid", "saml"]
opensearch_security.auth.multiple_auth_enabled: true
{{- end }}

data_source.enabled: true
